<div class="ui-g">
	<div class="ui-g-12">
		<h1>Excluir Contato</h1>
	</div>
</div>

<form autocomplete="off" #frmDelete="ngForm" (ngSubmit)="deleteContato(frmDelete)">
	<div class="ui-g">
		<div class="ui-g-7 ui-fluid">
			<label>Nome do Contato</label>
			<input pInputText [value]="contato.nome" [disabled]="true"/>
		</div>

		<div class="ui-g-3 ui-fluid">
			<label>Telefone do Contato</label>
			<input pInputText [value]="contato.telefone" [disabled]="true"/>
		</div>

		<div class="ui-g-2 ui-fluid">
			<br/>
			<button pButton icon="pi pi-ban"
					label="Excluir!"
					style="background-color: #494373">
			</button>
		</div>
	</div>
</form>